*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#b8e8f3,#bff3ff);
}

.center{
    width: 100%;
    max-width: 350px;
    background: #b4b3c9;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0px 1px 5px 0px #222222f0;
}

form{
    width: 100%;
}

input[type="text"]{
    height: 60px;
    width: 90%;
    margin-top: 40px;
    border-radius: 1px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    background-image: linear-gradient(to left, #DDE0CB, #bebfb8);
    text-shadow: 0px 0px 2px grey;
}
form .buttons{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="button"]{
    width: 58px;
    height: 55px;
    margin: 5px;
    font-size: 22px;
    line-height: 55px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background: linear-gradient(#d9d9d9, #bfbfbf);
    flex: 0 1 20%;
    box-shadow: 0px 1px 2px 2px grey;
}

#equal{
    flex-basis: 90%;
}

input[type="button"]:hover{
    transition: .5s;
    background: linear-gradient(#bfbfbf, #d9d9d9);
}

input[type="button"]:active{
    box-shadow: 0px 1px 1px 1px grey;
    transform: translateY(2px);
}

input#clear{
    background: #ff1a1a;
    border: 1px solid #cc0000;
    color: white;
}


input#equal {
    width: 275px;
    margin: 10 px 0 10px0;
    font-size: 30px;
    color: white;
    background: #36ff74;
}